# This is Git's per-user configuration file.
[user]
	email = yuliyakokozlovskaya@yandex.ru
# Please adapt and uncomment the following lines:
#	name = Iuliia Kozlovskaia
#	email = yuliyakokozlovskaya@yandex.ru
